.wrapper1{
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    max-width:1160px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
    background-color: #BCCCE0;
    background: #BCCCE0;
    background-image: url(../images/brick-room.jpg);
}
/* use font-family, font-size, height*/
.wrapper2{
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    max-width:1160px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
    background-color: #bf98a0;
}

.wrapper3{
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    max-width:1160px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
    background-color: #bf98a0;
}

.accordion {
    background-color: #bf98a0;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.6s;
  }