p, h2, h1, li{
    color: rgb(178, 184, 184);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    height: fit-content;
    margin:auto;
    padding: 20px; 
}

.wrapper1{
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    max-width:1160px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
    background-color: #5c4f4c;
    background: #5c4f4c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    height: fit-content;
    text-align: left;
    
}
/* use font-family, font-size, height*/
.wrapper2{
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    max-width:1160px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
    background-color: #a18273ee;
}

.wrapper3{
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    max-width:1160px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
    color: rgb(178, 184, 184)f98a0;
}

.accordion {
    background-color: #bf98a0;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.6s;
  }